<!DOCTYPE html>
<html lang="e">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edith Clarke</title>
</head>
<body>
    <a href="/">Inicio</a>
    <h1>Edith Clarke</h1>
    <img width="363" height="430" src="/img/edithClarke.jpg.crdownload" alt="">
    <p>
        Fue la primera ingeniera eléctrica estadounidense y la primera profesora de ingeniería eléctrica en la Universidad de Texas en Austin.​​ Se especializó en análisis de sistemas de energía eléctrica y escribió el manual Circuit Analysis of A-C Power Systems.
    Tras su graduación en 1919 encontró trabajo en GE en Schenectady. Durante la acelerada electrificación de los Estados Unidos, Clarke patentó su primer invento, una “calculadora gráfica” para facilitar la resolución de problemas complejos de transmisión de energía en distancias de 400 km.
    </p>
</body>
</html>