<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <a href="/babbage"><img src="/img/CharlesBabbage.jpg" alt="Charles Babbage"></a>
    <a href="/berners-lee"><img width="363" height="430" src="/img/Sir_Tim_Berners-Lee_(cropped).jpg" alt=""></a>
    <a href="/clarke"><img width="363" height="430" src="/img/edithClarke.jpg.crdownload" alt="clarke"></a>
    <a href="/hamilton"><img width="363" height="430" src="/img/MHamilton.jpg" alt="hamilton"></a>
    <a href="/hopper"><img width="363" height="430" src="/img/Grace_M._Hopper.jpg" alt="hopper"></a>
    <a href="/lovelance"><img width="363" height="430" src="/img/adaLovelance.jpg" alt="lovelance"></a>
    <a href="/turing"><img width="363" height="430" src="/img/alan-turing.jpg.crdownload" alt="turing"></a>
</body>
</html>
